body{
    background-color: grey;
}
.container{
    border: 1px solid black ;
    padding: 10px ;
    background-color: pink;
    width: 500px;
    height: 500px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;

}
.bio{
    margin-top: 27px;
   
}
label{
    text-align: left;
    margin-left: 20px;
}
a{
    text-decoration:none;
}
input,textarea{
    padding: 6px;
    border-radius: 5px;
    border: none;
    width: 50%;
}
input:hover,textarea:hover{
    transform:translateX(10px);
    transition: all 0.1s ease-in-out;
}
button{
    padding: 5px 10px;
}
.h1{
    margin-top: 300px;
}
.name{
    margin-left: 90px;
}
.dob{
margin-left: 100px;
}
.fname{
    margin-left: 40px;
}
.mail{
    margin-left: 70px;
}
.add{
    margin-left: 70px;
}
.num{
    margin-left: 27px;
}
@media(max-width:624px){
    .container{
        width: 400px;
    }

}
/* @media(max-width:458px){
    textarea{
        width: 70%;
    }
    .container{
        margin:auto;
    }

} */
